@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="@BUTTON_CLASSES" @onclick=@ShowAsync> open dialog </button>

<Dialog @ref=@dialogtest class="rounded shadow outline outline-black/5 bg-neutral-100">
    <p>
        henlo worl :3
    </p>

    <div class="flex flex-row gap-2">
        <form method="dialog">
            <button class="@BUTTON_CLASSES"> Form "dialog" Button </button>
        </form>
        <button @onclick=MoreOk class="@BUTTON_CLASSES"> Call "CloseDialogAsync()" </button>
    </div>
</Dialog>

@code {
    Dialog? dialogtest;

    async Task ShowAsync()
    {
        await dialogtest!.ShowDialogAsync();
    }

    async Task MoreOk()
    {
        await dialogtest!.CloseDialogAsync();
    }

    const string BUTTON_CLASSES = "bg-neutral-200 px-2 py-1 rounded";
}